<section class="container"> 
  <div class="content">
      <div class="text">
          <h1 id="about" class="fadeInUp"> About </h1>
          <p  id= "parrafos" class="fadeInUp">
            Somos estudiantes de Upgrade Hub y estamos haciendo una aplicación
            web utilizando todas las tecnologías relacionadas. Nos emociona programar
            una aplicación desde cero y también diseñarla.
          </p>
          <p id= "parrafos1" class="fadeInUp" >
           El equipo esta formado por cuatro personas con diferentes backgrounds profesionales, 
           programadores, ingenieros, especialistas en marketing y diseñadores. Hemos juntado 
           nuestras habilidades para hacer una aplicación fuerte.
             
            </p>
      </div>
      
      <div id="fotos" class="fadeInUp2">
          <img class="imagen" src="assets/img/about.jpeg " alt="">
      </div>
  </div>
</section>