.peliculas-caja{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 300px;
	margin-bottom: 20px;

}
.display-peliculas{
	display: flex;
	flex-direction: row;
	margin-top: 70px;
	justify-content: space-around;
	flex-wrap: wrap;
}

