#imagen-pelicula{
	width: 300px;
}

#imagen-pelicula:hover{
	position: relative;
	z-index: 2;
	-webkit-box-shadow: -4px 3px 17px 15px rgba(255,255,255,0.14);
	-moz-box-shadow: -4px 3px 17px 15px rgba(255,255,255,0.14);
	box-shadow: -4px 3px 17px 15px rgba(255,255,255,0.14);
	cursor: pointer;
}