
#img-background{
	background-size: cover;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;

}

.left-info{
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	z-index: 2;
	background: rgba(5,6,6,1);
	background: -moz-linear-gradient(left, rgba(5,6,6,1) 0%, rgba(5,6,6,0.33) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(5,6,6,1)), color-stop(100%, rgba(5,6,6,0.33)));
	background: -webkit-linear-gradient(left, rgba(5,6,6,1) 0%, rgba(5,6,6,0.33) 100%);
	background: -o-linear-gradient(left, rgba(5,6,6,1) 0%, rgba(5,6,6,0.33) 100%);
	background: -ms-linear-gradient(left, rgba(5,6,6,1) 0%, rgba(5,6,6,0.33) 100%);
	background: linear-gradient(to right, rgba(5,6,6,1) 0%, rgba(5,6,6,0.33) 100%);
}

.text-info{
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 3;
	color: white;
	margin-top: 80px;
	margin-left: 10px;
	margin-right: 10px;
}

#titulo-pelicula{
	font-size: 30px;
	margin-bottom: 10px;
	color: #DE3C4B;
}

#desc-pelicula{
	margin-bottom: 10px;

}



