/* 

.caja-imagen{

    width: 100% ;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  


} */

#imagen-pelicula{
    width: 250px;
  
}
.texto{
    width: 200px;
    position: absolute;
    margin: auto;
    
    }

 p{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    color:#fff;
    justify-content: center;
    text-shadow: 0 0 10px #000;
    text-align: center;
    margin-top: 20%;
    line-height: 1rem;
    
 }   
