
<div class="slider">
  <input type="radio" class="boton" name="boton" checked="checked">
  <label></label>
  <input type="radio" class="boton" name="boton">
  <label></label>
  <input type="radio" class="boton" name="boton">
  <label></label>
  <input type="radio" class="boton" name="boton">
  <label></label>

  <div class="contenedor-img cuatro-imagenes">

      <figure>
        <img src="assets/img/1.jpg">
        <p class="left1">Estreno el 15 de Marzo</p> 
        <p class="left1-1">Un emocionante y divertido viaje</p>
      </figure>

      <figure>
        <img src="assets/img/2.jpg">
        <p class="left2">Las mejores películas</p>
        <p class="left2-2">Para toda la familia</p>
      </figure>

      <figure>
        <img src="assets/img/3.jpg">
        <p class="right">Películas aclamadas por la crítica<p>
         <p class="sdo-p"> Personajes que han hecho historia</p> 
      </figure>


      <figure>
        <img src="assets/img/4.jpeg">
        <p class="right2" >Los últimos estrenos en cartelera</p>
        <p class="segundo-parrafo" >Tenemos las mejores películas de aventura</p>
      </figure>

  </div>
